@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	height: 100%;
	color: #212529;
}

.general-container {
	display: grid;
    justify-items: center;
	height: 100%;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #212529;
}

.nav-bar-wrapper {
	align-self: start;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
}

.logo {
	height: 150px;
}

nav {
	display: flex;
}

.shopping-cart-icon {
	height: 35px;
	transition: all 0.5s;
}

.shopping-cart-icon:hover {
	fill: #FCA311;
}

.link-item {
	margin-right: 0.5rem;
	transition: all 0.5s;
	border-radius: 10px;
	padding: 8px;
}

.link-item:hover {
	background-color: #FCA311;
	color: #14213D;
}

footer {
	align-self: end;
	width: 85%;
	padding: 15px;

	display: flex;
	justify-content: center;
}