header {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image: url('../images/tamailosFondo.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	height: 32vh;
	width: 100%;
}

.header-element {
	text-align: center;
	color: #14213D;
}

h1 {
	font-size: 72px;
	font-weight: 300;
	margin-bottom: 1rem;
}

h4 {
	font-size: 20px;
	font-weight: 200;
}

.content-page {
	width: 100%;
	margin-top: 2rem;
	display: flex;
}

.articles-container {
	flex: 3;
}

.card {
	margin-bottom: 1rem;
	padding: 1rem;
	text-align: justify;
	margin-left: 1rem;
}

.content-title {
	border-bottom: 2px solid #E85D04;
}

.advertising-container {
	flex: 1;
	margin-left: 1rem;
	background-color: #F48C06;
}
